## Install gmaps

In [ ]:
!conda install -c conda-forge gmaps

In [ ]:
!conda update -n base -c defaults conda

In [ ]:
!jupyter nbextension enable --py --sys-prefix widgetsnbextension

In [1]:
#pip install gmaps

## Create dependencies

In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import gkey

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bredasdorp,ZA,2021-07-28 05:19:57,-34.5322,20.0403,49.32,81,100,4.61
1,1,Hasaki,JP,2021-07-28 05:20:29,35.7333,140.8333,88.29,79,100,22.46
2,2,Rikitea,PF,2021-07-28 05:18:57,-23.1203,-134.9692,74.55,80,100,14.20
3,3,Qaanaaq,GL,2021-07-28 05:19:18,77.4840,-69.3632,42.46,90,98,5.06
4,4,New Norfolk,AU,2021-07-28 05:20:30,-42.7826,147.0587,56.91,58,47,5.99

In [4]:
## Get City data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=gkey)

In [9]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = locations = city_data_df[["Lat", "Lng"]]
# 2. Assign the weights variable to some values.
max_temp = city_data_df["Max Temp"]
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights= max_temp)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [18]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Heatmap of percent wind
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [23]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Hasaki,JP,2021-07-28 05:20:29,35.7333,140.8333,88.29,79,100,22.46
8,8,Airai,TL,2021-07-28 05:20:32,-8.9266,125.4092,76.73,39,64,4.79
14,14,Kapaa,US,2021-07-28 05:20:34,22.0752,-159.3190,82.38,75,40,3.00
20,20,Hanyang,CN,2021-07-28 05:20:37,32.1371,105.5126,86.00,49,4,6.87
23,23,Sydney,AU,2021-07-28 05:17:45,-33.8679,151.2073,77.32,35,0,1.01
26,26,Matamoros,MX,2021-07-28 05:20:39,25.5333,-103.2500,82.11,39,22,15.70
30,30,Cape Canaveral,US,2021-07-28 05:18:12,28.4058,-80.6048,79.05,91,1,3.44
32,32,Banjar,ID,2021-07-28 05:20:41,-8.1900,114.9675,84.06,52,11,2.57
37,37,Summerville,US,2021-07-28 05:20:43,33.0185,-80.1757,82.20,92,75,6.91
42,42,Cockburn Town,TC,2021-07-28 05:18:11,21.4612,-71.1419,81.54,76,30,16.67

In [24]:
preferred_cities_df.count()

City_ID       192
City          192
Country       192
Date          192
Lat           192
Lng           192
Max Temp      192
Humidity      192
Cloudiness    192
Wind Speed    192
dtype: int64

## Hotels in preferred cities

In [25]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
1           Hasaki      JP     88.29  35.7333  140.8333
8            Airai      TL     76.73  -8.9266  125.4092
14           Kapaa      US     82.38  22.0752 -159.3190
20         Hanyang      CN     86.00  32.1371  105.5126
23          Sydney      AU     77.32 -33.8679  151.2073
26       Matamoros      MX     82.11  25.5333 -103.2500
30  Cape Canaveral      US     79.05  28.4058  -80.6048
32          Banjar      ID     84.06  -8.1900  114.9675
37     Summerville      US     82.20  33.0185  -80.1757
42   Cockburn Town      TC     81.54  21.4612  -71.1419

In [30]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": gkey
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [31]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Hasaki,JP,88.29,35.7333,140.8333,Hotel Sunrise Choshi
8,Airai,TL,76.73,-8.9266,125.4092,Juvinal Martin
14,Kapaa,US,82.38,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
20,Hanyang,CN,86.00,32.1371,105.5126,Forestry Hostel
23,Sydney,AU,77.32,-33.8679,151.2073,The Grace Sydney
26,Matamoros,MX,82.11,25.5333,-103.2500,Quinta Belem
30,Cape Canaveral,US,79.05,28.4058,-80.6048,Residence Inn by Marriott Cape Canaveral Cocoa...
32,Banjar,ID,84.06,-8.1900,114.9675,The Hamsa Resort
37,Summerville,US,82.20,33.0185,-80.1757,Sleep Inn Summerville-Charleston
42,Cockburn Town,TC,81.54,21.4612,-71.1419,Osprey Beach Hotel

In [32]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [40]:
# Store the DataFrame Row.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))