## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import gkey

# Configure gmaps API key
gmaps.configure(api_key=gkey)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Punta Arenas,CL,2021-07-31 18:05:00,-53.1500,-70.9167,41.11,60,0,11.50,clear sky
1,1,Majene,ID,2021-07-31 18:05:03,-3.5403,118.9707,77.83,87,98,5.59,overcast clouds
2,2,Jibuti,DJ,2021-07-31 18:05:03,11.5000,42.5000,92.62,43,12,4.45,few clouds
3,3,Kyaikkami,MM,2021-07-31 18:05:04,16.0800,97.5675,80.20,83,100,11.70,light rain
4,4,Kapaa,US,2021-07-31 18:05:05,22.0752,-159.3190,82.38,73,75,4.00,broken clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
1,1,Majene,ID,2021-07-31 18:05:03,-3.5403,118.9707,77.83,87,98,5.59,overcast clouds
3,3,Kyaikkami,MM,2021-07-31 18:05:04,16.0800,97.5675,80.20,83,100,11.70,light rain
4,4,Kapaa,US,2021-07-31 18:05:05,22.0752,-159.3190,82.38,73,75,4.00,broken clouds
12,12,Atuona,PF,2021-07-31 18:05:10,-9.8000,-139.0333,76.62,73,38,12.95,scattered clouds
13,13,Ponta Do Sol,PT,2021-07-31 18:05:10,32.6667,-17.1000,78.71,73,0,6.93,clear sky
18,18,Maneadero,MX,2021-07-31 18:05:13,31.7167,-116.5667,86.18,52,3,9.17,clear sky
19,19,Lancaster,US,2021-07-31 18:02:43,40.2504,-76.2499,77.95,54,20,1.99,few clouds
20,20,Victoria,HK,2021-07-31 18:05:13,22.2855,114.1577,86.38,92,87,4.00,moderate rain
21,21,Tautira,PF,2021-07-31 18:05:14,-17.7333,-149.1500,75.22,60,78,12.37,broken clouds
22,22,Cayenne,GF,2021-07-31 18:00:52,4.9333,-52.3333,89.10,71,0,3.00,clear sky

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.notnull().sum
preferred_cities_df.isnull().sum
preferred_cities_df.count()

City_ID                256
City                   256
Country                256
Date                   256
Lat                    256
Lng                    256
Max Temp               256
Humidity               256
Cloudiness             256
Wind Speed             256
Weather Description    256
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
1,1,Majene,ID,2021-07-31 18:05:03,-3.5403,118.9707,77.83,87,98,5.59,overcast clouds
3,3,Kyaikkami,MM,2021-07-31 18:05:04,16.0800,97.5675,80.20,83,100,11.70,light rain
4,4,Kapaa,US,2021-07-31 18:05:05,22.0752,-159.3190,82.38,73,75,4.00,broken clouds
12,12,Atuona,PF,2021-07-31 18:05:10,-9.8000,-139.0333,76.62,73,38,12.95,scattered clouds
13,13,Ponta Do Sol,PT,2021-07-31 18:05:10,32.6667,-17.1000,78.71,73,0,6.93,clear sky
...,...,...,...,...,...,...,...,...,...,...,...
659,659,Donghai,CN,2021-07-31 18:09:47,22.9459,115.6420,82.94,84,99,8.12,overcast clouds
660,660,Lewiston,US,2021-07-31 18:09:48,44.1003,-70.2148,75.74,51,1,9.22,clear sky
661,661,Romny,UA,2021-07-31 18:09:48,50.7510,33.4747,77.74,44,34,2.93,scattered clouds
665,665,Umm Kaddadah,SD,2021-07-31 18:09:51,13.6017,26.6876,84.61,51,69,17.40,broken clouds
669,669,Tucurui,BR,2021-07-31 18:05:18,-3.7661,-49.6725,87.89,56,76,2.64,broken clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp","Weather Description", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
1,Majene,ID,77.83,overcast clouds,-3.5403,118.9707,
3,Kyaikkami,MM,80.20,light rain,16.0800,97.5675,
4,Kapaa,US,82.38,broken clouds,22.0752,-159.3190,
12,Atuona,PF,76.62,scattered clouds,-9.8000,-139.0333,
13,Ponta Do Sol,PT,78.71,clear sky,32.6667,-17.1000,
18,Maneadero,MX,86.18,clear sky,31.7167,-116.5667,
19,Lancaster,US,77.95,few clouds,40.2504,-76.2499,
20,Victoria,HK,86.38,moderate rain,22.2855,114.1577,
21,Tautira,PF,75.22,broken clouds,-17.7333,-149.1500,
22,Cayenne,GF,89.10,clear sky,4.9333,-52.3333,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": gkey
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Places API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()  
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
hotel_df.head()

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
1,Majene,ID,77.83,overcast clouds,-3.5403,118.9707,Kost Putri RABBANI
3,Kyaikkami,MM,80.20,light rain,16.0800,97.5675,Happy Family Kyaikkami
4,Kapaa,US,82.38,broken clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
12,Atuona,PF,76.62,scattered clouds,-9.8000,-139.0333,Villa Enata
13,Ponta Do Sol,PT,78.71,clear sky,32.6667,-17.1000,Hotel do Campo

In [10]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.dropna()

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
1,Majene,ID,77.83,overcast clouds,-3.5403,118.9707,Kost Putri RABBANI
3,Kyaikkami,MM,80.20,light rain,16.0800,97.5675,Happy Family Kyaikkami
4,Kapaa,US,82.38,broken clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
12,Atuona,PF,76.62,scattered clouds,-9.8000,-139.0333,Villa Enata
13,Ponta Do Sol,PT,78.71,clear sky,32.6667,-17.1000,Hotel do Campo
...,...,...,...,...,...,...,...
659,Donghai,CN,82.94,overcast clouds,22.9459,115.6420,Huacheng Restaurant
660,Lewiston,US,75.74,clear sky,44.1003,-70.2148,Hilton Garden Inn Auburn Riverwatch
661,Romny,UA,77.74,scattered clouds,50.7510,33.4747,Floriana
665,Umm Kaddadah,SD,84.61,broken clouds,13.6017,26.6876,
669,Tucurui,BR,87.89,broken clouds,-3.7661,-49.6725,BBB Rooms Centro Tucurui PA

In [11]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_Vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt>{Weather Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
## Deliverable 2 complete by angela kumar